.categorias
    .wrapper
      ul.list-inline
        li
          a.active(href='') Todo
        li
          a(href='',data-id='nowocio') NowOcio
        li
          a(href='',data-id='facebook') Facebook
        li
          a(href='',data-id='youtube') Youtube
        //li
          a(href='') Twitter
        //li
          a(href='') Youtube
        //li
          a(href='') Youtube
        //li
          a(href='') Youtube
        //li
          a(href='') Youtube

