div(class="categorias categoria_home")
    .wrapper
      ul.list-inline
        li
          a.active(href='') Todo
        li
          a(href='') NowOcio
        li
          a(href='') Facebook
        li
          a(href='') Youtube
        //li
          a(href='') Twitter
        //li
          a(href='') Youtube
        //li
          a(href='') Youtube
        //li
          a(href='') Youtube
        //li
          a(href='') Youtube
