div(id="apps")
    ul
        li
            a(href="https://www.google.com",target="_blank",rel="nofollow",class="icon-facebook")
                img(src="https://www.google.co.ve/images/branding/product/ico/googleg_lodp.ico")
        //li
            a(href="https://codepen.io",target="_blank",class="icon-facebook")
                img(src="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico")
        li
            a(href="https://mail.google.com/mail/u/0/",target="_blank",rel="nofollow",class="icon-facebook")
                img(src="https://ssl.gstatic.com/ui/v1/icons/mail/images/favicon5.ico")
        //li
            a(href="https://www.uplabs.com",target="_blank",class="icon-facebook")
                img(src="https://www.uplabs.com/assets/logo/material/icons/favicon-32x32-ceb1b7f0256ef8f6dab75a08d462d7f959ae92cf5e765637555df5f586417e51.png")
        //li
            a(href="https://pixabay.com/es/emoji-emociones-cara-gafas-de-sol-2740860/",target="_blank",class="icon-facebook")
                img(src="https://pixabay.com/favicon-32x32.png")