-var userid=user.id_usuario;
div(id="chat",data-userid=userid)
    script
        include script.js
    div(class="chat_box")
        div(class="chat_head") En línea
        div(class="chat_body")
            //div(class="user") Antonio
    div(class="msg_box_original",style="right:290px;display:none")
        div(class="msg_head")
            div(class="close") X
        div(class="msg_wrap")
            div(class="msg_body")
                div(class="msg_push")
            div(class="msg_footer")
            textarea(class="msg_input",rows="4")
            div(id="send") Enviar
            
