extends ../../layout

block contenido
    .contenedor-formulario
      .wrap
        form.formulario(action='/usuario/cambio/clave', name='formulario_registro', method='POST')
          div
            .input-group
              input#password(type='password', name='password')
              input#recuperar(type='hidden', name='recuperar',value=recuperar)
              label.label(for='password') Nueva contraseña:
              input#btn-submit(type='submit', value='Guardar')

